In [1]:
from domino.utils.jupyter import notebook_init
notebook_init()

In [105]:
import os.path
import re

from Levenshtein import distance as lev
import pandas as pd
np = pd.np

% matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from multiprocessing import Pool

from rdflib import Graph, URIRef, Literal
from rdflib.namespace import OWL, RDF, XSD

In [3]:
path = lambda filename, sep='/': os.path.join(*filename.split(sep))

In [4]:
restaurants = pd.read_csv(path('data/entity_resolution/restaurant.csv'))
transports = pd.read_csv(path('data/entity_resolution/transport.csv'))

In [5]:
restaurants['source'] = restaurants.restaurant.str.startswith('http://schema.org/resource/eatery_')

In [6]:
restaurants = restaurants.set_index('restaurant')

In [7]:
names = list(restaurants.name.str.lower())
coords = list(restaurants[['latitude', 'longitude']].values)
source = list(restaurants.source)

In [8]:
def compute(n1):
    name1, coords1, src1 = names[n1], coords[n1], source[n1]
    
    results = []
    
    for n2, (name2, coords2, src2) in enumerate(
        zip(names[n1 + 1:], coords[n1 + 1:], source[n1 + 1:])
    ):
        # don't compare two entities of the same source
        if src1 == src2: continue 
            
        n2 += n1 + 1
        
        d_lev = lev(name1, name2) / max(len(name1), len(name2))
        d_euc = ((coords1 - coords2)**2).sum()
        
        results.append((n1, n2, d_lev, d_euc))
    
    return results

In [9]:
pool = Pool(3)

In [10]:
n1s = list(
    np.random.choice(
        np.arange(len(names)),
        len(names),
        replace=False
    )
)

In [11]:
results = pool.map(compute, n1s)

In [12]:
sum(map(len, results))

5230827

In [13]:
dists = pd.concat(list(map(pd.DataFrame, results)))
dists.columns = ['n1', 'n2', 'lev', 'euc']

In [14]:
dists.shape

(5230827, 4)

In [15]:
dists.head()

    n1   n2   lev       euc
0  493  711  0.88  0.000068
1  493  712  0.92  0.000718
2  493  713  0.88  0.000854
3  493  714  0.82  0.001477
4  493  715  0.86  0.000073

In [16]:
dists.to_csv(os.path.join('tmp_data', 'dists.csv'), index=False)

In [17]:
dists['n1_name'] = np.array(names)[dists.n1]
dists['n2_name'] = np.array(names)[dists.n2]

In [18]:
dists = dists.sort_values(['lev', 'euc'])

If lev = 0, they are the same. The first pair (sorting by euc) is the one assigned.

In [19]:
dists[dists.lev > 0].head(50)

,n1,n2,lev,euc,n1_name,n2_name
6367,649,7078,0.037037,3.164942e-08,restaurant vegetalia *raval,restaurant vegetalia raval
7213,73,7924,0.041667,1.518312e-09,restaurant el paraguayo,restaurante el paraguayo
6774,288,7485,0.041667,1.860292e-09,restaurant tantarantana,restaurante tantarantana
2157,568,2868,0.043478,1.414656e-08,restaurant bistrot bcn,restaurante bistrot bcn
4165,613,4876,0.045455,2.005852e-09,restaurant margherita,restaurante margherita
7138,70,7849,0.045455,1.090557e-04,restaurant pa i trago,restaurante pa i trago
4920,93,5631,0.047619,5.387999e-10,restaurant biocenter,restaurante biocenter
5681,629,6392,0.047619,1.060777e-09,restaurant mano rota,restaurante mano rota
6040,87,6751,0.047619,2.739807e-09,restaurant cal boter,restaurante cal boter
7114,213,7825,0.047619,3.038132e-09,restaurant silvestre,restaurante silvestre
7250,4,7961,0.047619,4.051407e-08,restaurant bona sort,restaurante bona sort
5813,167,6524,0.047619,4.892424e-07,restaurant la bodega,restaurante la bodega
7052,164,7763,0.050000,5.990624e-11,restaurant tetuan 9,restaurante tetuan 9
2632,507,3343,0.050000,3.027439e-10,restaurant telefèric,restaurant teleferic
6131,94,6842,0.050000,3.335086e-09,restaurant bonanova,restaurante bonanova
7021,55,7732,0.050000,1.914751e-07,restaurant el chato,restaurante el chato
6051,284,6762,0.052632,2.147579e-10,restaurant el foro,restaurante el foro
1516,575,2227,0.052632,6.896182e-10,rostisseria menjabé,rostisseria menjabe
7206,32,7917,0.052632,4.918439e-09,restaurant el puma,restaurante el puma
4969,144,5680,0.052632,2.780971e-08,restaurant govinda,restaurante govinda
2664,691,3375,0.055556,7.044447e-10,restaurant ferran,restaurante ferran
2268,30,2979,0.055556,4.078471e-07,restaurant triton,restaurante triton
4816,683,5527,0.058824,5.907778e-10,restaurant arume,restaurante arume
4733,596,5444,0.071429,1.382902e-10,cafè nou kamel,cafe nou kamel
6676,267,7387,0.083333,3.809834e-04,restaurant la bona tapa,restaurant la bona taula
7216,241,7927,0.095238,3.968783e-10,restaurant el cafetí,restaurante el cafeti
3354,104,4065,0.100000,3.134451e-10,café godot,cafe godot
1842,530,2553,0.100000,3.422731e-10,bar cañete,bar canete
5477,205,6188,0.100000,6.695816e-04,bar restaurant bliss,bar restaurant elias
1433,362,2144,0.100000,1.726900e-03,mandarina restaurant,andurina restaurant
962,98,1673,0.107143,5.338927e-10,restaurant cal pinxo platja,restaurante cal pinxo paltja
2215,35,2926,0.111111,7.918385e-02,restaurant la poma,restaurant la mama
4341,35,5052,0.111111,4.854640e-01,restaurant la poma,restaurant la pala
1807,646,2518,0.117647,4.286614e-04,restaurant tapeo,restaurant etapes
4686,652,5397,0.117647,1.551721e-03,restaurant alvart,restaurante alvar
5506,351,6217,0.117647,4.915856e-03,restaurant medina,restaurant sedna
6823,135,7534,0.125000,4.671347e-04,bar restaurant la llave,bar restaurante la llama
5692,561,6403,0.125000,6.625313e-04,restaurant bablu,restaurant bali
3759,608,4470,0.125000,1.585585e-03,restaurant luki,restaurante luri
281,655,992,0.125000,4.538303e-03,restaurant leka,restaurante leku
5692,301,6403,0.133333,1.387822e-04,restaurant al.,restaurant bali
6516,662,7227,0.133333,9.182344e-04,restaurant kiku,restaurant noku
1994,163,2705,0.133333,1.421265e-03,restaurant agua,restaurant gut
6878,59,7589,0.133333,3.485123e-03,restaurant juan,restaurant mian
4211,59,4922,0.133333,5.594976e-03,restaurant juan,restaurant zian
6750,137,7461,0.136364,1.055680e-04,restaurant barceloneta,restaurante barcelonia
4038,260,4749,0.136364,1.944909e-03,restaurant casa juaco,restaurante casa julio
224,361,935,0.136364,2.602305e-03,bar restaurant plat's,bar restaurante blau's
1760,137,2471,0.136364,6.758950e-03,restaurant barceloneta,restaurant barcelonas
1340,133,2051,0.142857,7.296427e-05,restaurant el portal,restaurante el gordal

lev = 0.1 is the first threshold in which they're not the same

In [20]:
same_as = {
    (row['n1'], row['n2'])
    for _, row in dists[dists.lev <= 0.1].iterrows()
}

In [21]:
paired = {x for x, _ in same_as}.union({y for _, y in same_as})

In [22]:
dists = dists[~(dists.n1.isin(paired) | dists.n2.isin(paired))]

In [23]:
# Now let's try sorting the other way around
dists.sort_values(['euc', 'lev']).head(20)

# except for some few pairs, there's no more coincidences
# let's leave it like that

,n1,n2,lev,euc,n1_name,n2_name
5909,197,6620,0.760000,8.250224e-12,restaurant reina selecció,tap de suro
1477,635,2188,0.823529,1.068346e-11,restaurant zeruko,crudo bar
7265,277,7976,0.529412,1.537408e-11,restaurant el rebujito de moncho's,restaurante al austriaco
7265,246,7976,0.581395,1.537408e-11,restaurant barnabier-la cerveseria del port,restaurante al austriaco
181,277,892,0.764706,1.537408e-11,restaurant el rebujito de moncho's,mexican steak house
181,246,892,0.813953,1.537408e-11,restaurant barnabier-la cerveseria del port,mexican steak house
997,246,1708,0.860465,1.537408e-11,restaurant barnabier-la cerveseria del port,talaia
997,277,1708,0.882353,1.537408e-11,restaurant el rebujito de moncho's,talaia
2348,222,3059,0.625000,1.830136e-11,bar restaurant horiginal,horiginal
2764,71,3475,0.891304,2.281790e-11,restaurant mesón morriña - marisqueria gallega,peix fresc
6233,71,6944,0.956522,2.281790e-11,restaurant mesón morriña - marisqueria gallega,wino
1625,541,2336,0.823529,2.441874e-11,restaurant ornina,piscolabis
423,421,1134,0.343750,2.751855e-11,restaurant patagonia beef & wine,patagonia beef & wine
3582,687,4293,0.354839,2.913938e-11,restaurant surf house barcelona,surf house barcelona
2375,41,3086,0.842105,3.095756e-11,restaurant tragaluz,elj apo nes
6299,15,7010,0.523810,3.212825e-11,restaurant txalaparta,txalaparta
2913,612,3624,0.705882,3.289216e-11,hotel mercer barcelona - hb-004504,mercer restaurant
1905,39,2616,0.793103,4.092188e-11,restaurant marisqueria marisk,marisk
926,135,1637,0.652174,4.139086e-11,bar restaurant la llave,la llave
2666,302,3377,0.727273,4.229816e-11,restaurant freud b'art,tarantino pizzeria

In [24]:
len(same_as)

55

In [25]:
str(OWL)

'http://www.w3.org/2002/07/owl#'

In [26]:
graph = Graph()

graph.bind('owl', str(OWL))
graph.bind('', 'http://schema.org/resource/')
graph.bind('ont', 'http://schema.org/ontology/')

for x, y in same_as:
    x = restaurants.index[x]
    y = restaurants.index[y]
    
    graph.add((URIRef(x), OWL.sameAs, URIRef(y)))

In [27]:
graph.serialize(os.path.join('mapped_sources', 'restaurant_er.ttl'), format='turtle')